<form action="/display_user" method="post">
    Name:  <input type="text" name="name">
    <input type="submit" value="Search user">
 </form>
<ul>
 <% @users_array.each do |user_record| %>
    <li><%= user_record.id.to_s + " |   Name:" +  user_record.name + "  |   email:" +user_record.email %></li>
 <%end %>
</ul> 
  